# Proyecto final de Machine learning

In [45]:
import pandas as pd
import numpy as np
import math as m
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import fetch_openml

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

import sys
import matplotlib
matplotlib.use('Agg')

import datetime

In [46]:
# Lectura del dataset de demanda
ds_demand= pd.read_csv('./Demand13.csv')

# Lectura del dataset de supply
ds_supply= pd.read_csv('./Supply13.csv')

In [47]:
datosDemandaTotalSinHoras = pd.DataFrame()
datosProduccionTotalSinHoras = pd.DataFrame()


datosDemandaTotalSinHoras["total"] = ds_demand.iloc[:, 1:].sum(axis=1)
datosProduccionTotalSinHoras["total"] = ds_supply.iloc[:, 1:].sum(axis=1)

In [48]:
#datosDemandaTotalSinHoras

In [49]:
#datosProduccionTotalSinHoras

In [50]:
suma_24_demanda = []
suma_24_produccion = []

In [51]:
for i in range(0, len(datosDemandaTotalSinHoras), 24):
    end = i + 24
    if end > len(datosDemandaTotalSinHoras):
        end = len(datosDemandaTotalSinHoras)
    suma_24_demanda.append(datosDemandaTotalSinHoras[i:end].sum(axis=0).sum())

In [52]:
for i in range(0, len(datosProduccionTotalSinHoras), 24):
    end = i + 24
    if end > len(datosProduccionTotalSinHoras):
        end = len(datosProduccionTotalSinHoras)
    suma_24_produccion.append(datosProduccionTotalSinHoras[i:end].sum(axis=0).sum())

In [53]:
datosDemandaTotalDias = pd.DataFrame({'Total': suma_24_demanda})
datosProduccionTotalDias = pd.DataFrame({'Total': suma_24_produccion})

In [54]:
diasDemanda = pd.date_range(start='2019-01-01', periods=len(suma_24_demanda), freq='D')
diasProduccion = pd.date_range(start='2019-01-01', periods=len(suma_24_produccion), freq='D')

In [55]:
datosDemandaTotalDias["fecha"] = diasDemanda
datosProduccionTotalDias["fecha"] = diasProduccion

In [56]:
#datosDemandaTotalDias

In [57]:
#datosProduccionTotalDias

In [58]:
datosProduccionTotalDias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098 entries, 0 to 1097
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Total   1098 non-null   int64
 1   fecha   1098 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 17.3 KB

In [59]:
a = datosProduccionTotalDias['fecha'][1002].month
a

9

In [60]:
#datosProduccionTotalDias['Mes'] = datosProduccionTotalDias.apply(lambda _: '', axis=1)

datosProduccionTotalDias['Mes'] = datosProduccionTotalDias['fecha'].apply(lambda x:x.strftime('%b'))
#datosProduccionTotalDias

In [61]:
#def saber_mes(Mes):
#    for i in range(len(datosProduccionTotalDias)):
#    	datosProduccionTotalDias['Mes']= datosProduccionTotalDias['fecha'][i].month
#datosProduccionTotalDias['Mes'] = datosProduccionTotalDias['Mes'].apply(saber_mes)
    
#datosProduccionTotalDias

In [62]:
datosProduccionTotalDias

       Total      fecha  Mes
0     289005 2019-01-01  Jan
1     288843 2019-01-02  Jan
2     283581 2019-01-03  Jan
3     285621 2019-01-04  Jan
4     283991 2019-01-05  Jan
...      ...        ...  ...
1093  261122 2021-12-29  Dec
1094  248905 2021-12-30  Dec
1095  257533 2021-12-31  Dec
1096  272710 2022-01-01  Jan
1097  277922 2022-01-02  Jan

[1098 rows x 3 columns]

In [63]:
datosProduccionTotalDias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098 entries, 0 to 1097
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Total   1098 non-null   int64
 1   fecha   1098 non-null   datetime64[ns]
 2   Mes     1098 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 25.9+ KB

In [64]:
a = datosProduccionTotalDias['fecha'][898].month
a

6

In [65]:
def monthToNum(Mes):
    return {
            'Jan': 1,
            'Feb': 2,
            'Mar': 3,
            'Apr': 4,
            'May': 5,
            'Jun': 6,
            'Jul': 7,
            'Aug': 8,
            'Sep': 9, 
            'Oct': 10,
            'Nov': 11,
            'Dec': 12
    }[Mes]

datosProduccionTotalDias['Mes'] = datosProduccionTotalDias['Mes'].apply(monthToNum)

In [66]:
datosProduccionTotalDias

       Total      fecha  Mes
0     289005 2019-01-01    1
1     288843 2019-01-02    1
2     283581 2019-01-03    1
3     285621 2019-01-04    1
4     283991 2019-01-05    1
...      ...        ...  ...
1093  261122 2021-12-29   12
1094  248905 2021-12-30   12
1095  257533 2021-12-31   12
1096  272710 2022-01-01    1
1097  277922 2022-01-02    1

[1098 rows x 3 columns]

In [67]:
#datosProduccionTotalDias['Temporada'] = datosProduccionTotalDias.apply(lambda _: '', axis=1)
#datosProduccionTotalDias

In [68]:
meses_invierno =[ 12, 1, 2, 3]
meses_primavera =[ 4, 5]
meses_verano =[ 6, 7, 8, 9]
meses_otono =[ 10, 11]

In [69]:
def temp_mensual_clasif(Mes):
    if Mes in meses_invierno:
        return('Invierno')
    elif Mes in meses_primavera:
        return('Primavera')
    elif Mes in meses_verano:
        return('Verano')
    elif Mes in meses_otono:
        return('OtoÃ±o')
    else :
        return('Error')
            
datosProduccionTotalDias['Mes'] = datosProduccionTotalDias['Mes'].apply(temp_mensual_clasif)

In [70]:
datosProduccionTotalDias

       Total      fecha       Mes
0     289005 2019-01-01  Invierno
1     288843 2019-01-02  Invierno
2     283581 2019-01-03  Invierno
3     285621 2019-01-04  Invierno
4     283991 2019-01-05  Invierno
...      ...        ...       ...
1093  261122 2021-12-29  Invierno
1094  248905 2021-12-30  Invierno
1095  257533 2021-12-31  Invierno
1096  272710 2022-01-01  Invierno
1097  277922 2022-01-02  Invierno

[1098 rows x 3 columns]

In [71]:
d= datosProduccionTotalDias['Mes'][200]
d

'Verano'

In [72]:
datosProduccionTotalDias.rename(columns={"Mes": "Temporada"})

       Total      fecha Temporada
0     289005 2019-01-01  Invierno
1     288843 2019-01-02  Invierno
2     283581 2019-01-03  Invierno
3     285621 2019-01-04  Invierno
4     283991 2019-01-05  Invierno
...      ...        ...       ...
1093  261122 2021-12-29  Invierno
1094  248905 2021-12-30  Invierno
1095  257533 2021-12-31  Invierno
1096  272710 2022-01-01  Invierno
1097  277922 2022-01-02  Invierno

[1098 rows x 3 columns]

In [75]:
datosProduccionTotalDias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098 entries, 0 to 1097
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Total   1098 non-null   int64
 1   fecha   1098 non-null   datetime64[ns]
 2   Mes     1098 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 25.9+ KB

In [79]:

datosProduccionTotalDias['Temporada']=datosProduccionTotalDias['Temporada'].astype(str)
datosProduccionTotalDias.info()

KeyError: 'Temporada'

In [78]:
d= datosProduccionTotalDias['Temporada'][458]
d

KeyError: 'Temporada'

In [219]:
datosProduccionTotalDias.groupby(['Temporadaa'])['Total'].mean()

KeyError: 'Temporadaa'